{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
    <div class="overlay-image" style="background-image: url('/images/slide.jpg');"></div>

      <div class="carousel-item active">
       

        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
     
    </div>
 
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
       <img   loading="lazy" width="320"height="180" src="{{asset('images/illustration-1.png')}}" alt="">
       
        <h2 class="fw-bold">Inspirer la confiance</h2>
      <p class="text-start">Avec plus de clics, la reconnaissance de la marque et la confiance des consommateurs dans vos communications augmentent, ce qui à son tour inspire encore plus d'engagement avec vos liens</p>
      
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img   loading="lazy" width="320"height="180" src="{{asset('images/illustration-2.png')}}" alt="">

        <h2 class="fw-bold">Boostez  vos résultats</h2>
        <p class="text-start">En plus d'une meilleure délivrabilité et d'un meilleur taux de clics, des statistiques au niveau des liens vous donnent un aperçu crucial de votre engagement afin que votre équipe puisse prendre des décisions plus judicieuses concernant son contenu et ses communications.</p>
   
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
      <img   loading="lazy" width="320"height="180" src="{{asset('images/illustration-3.png')}}" alt="">
       
        <h2 class="fw-bold">Prenez le controle</h2>
        <p class="text-start">Prenez le crédit de votre contenu et apprenez-en plus sur la façon dont il est consommé en activant l'auto-branding, une fonctionnalité qui garantit que votre marque reste dans tout lien raccourci par quelqu'un pointant vers votre site Web.</p>

      </div>
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->



    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>

{% endblock %}
